@using System.Web.Mvc.Html
@using Orchard.ContentManagement
@using Pipeline.Web.Orchard.Models
@model PipelineConfigurationPart

@{
    var theme = WorkContext.CurrentSite.As<PipelineSettingsPart>().EditorTheme;
    Html.RenderPartial("~/Modules/Pipeline.Web.Orchard/Views/Shared/ConfigurationEditor.cshtml", new Editor { TextAreaId = "PipelineConfiguration_Configuration", Theme = theme, Portion = 0.6, Library = "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/", Mode = Model.EditorMode });
}

<div class="editor-field">
    @Html.LabelFor(x => x.EditorMode, T("Editor Mode"))
    @Html.DropDownListFor(x => x.EditorMode, Model.EditorModes)
    @Html.ValidationMessageFor(x => x.EditorMode)
    <button style="float: right;" type="button" class="button grey" onclick="javascript: window.open('@(Url.Action("List", "List", new {area = "Pipeline.Web.Orchard"}))', '_self');">Jobs</button>
    <button style="float: right;" type="button" class="button grey" onclick="javascript: window.open('@(Url.Action("Api/Check", "Api", new {id = Model.Id, area = "Pipeline.Web.Orchard"}))', '_blank');">Check</button>
    <button style="float: right;" type="button" class="button grey" onclick="javascript: window.open('@(Url.Action("Api/Cfg", "Api", new {id = Model.Id, area = "Pipeline.Web.Orchard"}))', '_blank');">Cfg</button>
</div>

<div class="editor-field">
    @Html.LabelFor(x => x.Configuration, T("Configuration"))
    @Html.TextAreaFor(x => x.Configuration)
</div>

<div class="hint" style="font-size: smaller;">
    <strong>F11</strong>: <span>Full Screen</span>,
    <strong>Esc</strong>: <span>Exit Full Screen</span>,
    <strong>Ctrl-S</strong>: <span>Save</span>,
    <strong>Ctrl-Space</strong>: <span>Auto Complete</span>,
    <strong>Ctrl-F</strong>: <span>Find</span>,
    <strong>Ctrl-G</strong>: <span>Find next</span>,
    <strong>Shift-Ctrl-G</strong>: <span>Find previous</span>,
    <strong>Shift-Ctrl-F</strong>: <span>Replace</span>,
    <strong>Shift-Ctrl-R</strong>: <span>Replace all</span>.
</div>

<fieldset>
    <legend>Run Options</legend>
    <div class="editor-field">
        <table>
            <tr>
                <td style="padding-right: 10px;">@Html.EditorFor(x => x.Runnable)</td>
                <td>@Html.LabelFor(x => x.Runnable, T("Runnable"))</td>
                <td> &nbsp;</td>
                <td><div class="hint"> @T("Let the user run this.")</div></td>
                <td>@Html.ValidationMessageFor(x => x.Runnable)</td>
            </tr>
            <tr>
                <td style="padding-right: 10px;">@Html.EditorFor(x => x.Reportable)</td>
                <td>@Html.LabelFor(x => x.Reportable, T("Reportable"))</td>
                <td> &nbsp;</td>
                <td><div class="hint"> @T("Let the user run this as a report.")</div></td>
                <td>@Html.ValidationMessageFor(x => x.Reportable)</td>
            </tr>
            <tr>
                <td style="padding-right: 10px;">@Html.EditorFor(x => x.NeedsInputFile)</td>
                <td>@Html.LabelFor(x => x.NeedsInputFile, T("Needs Input File"))</td>
                <td> &nbsp;</td>
                <td><div class="hint"> @T("Needs an input file to run.")</div></td>
                <td>@Html.ValidationMessageFor(x => x.NeedsInputFile)</td>
            </tr>
        </table>
    </div>
</fieldset>

<hr />

<fieldset>
    <legend>Allow Access by IP</legend>
    <table>
        <tr>
            <td>
                <div class="editor-field">
                    @Html.LabelFor(x => x.StartAddress, T("Start Address"))
                    @Html.EditorFor(x => x.StartAddress)
                    @Html.ValidationMessageFor(x => x.StartAddress)
                </div>
                <div class="hint">@T("Starting IP Address")</div>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
                <div class="editor-field">
                    @Html.LabelFor(x => x.EndAddress, T("End Address"))
                    @Html.EditorFor(x => x.EndAddress)
                    @Html.ValidationMessageFor(x => x.EndAddress)
                </div>
                <div class="hint">@T("Ending IP Address")</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">@T("Your IP is {0}", Request.UserHostAddress)</td>
        </tr>
    </table>
</fieldset>