@using System.Web.Mvc.Html
@using Pipeline.Web.Orchard.Models
@model PipelineSettingsPart

@{
    Html.RenderPartial("~/Modules/Pipeline.Web.Orchard/Views/Shared/ConfigurationEditor.cshtml", new Editor { TextAreaId = "PipelineSettings_Shorthand", Theme = Model.EditorTheme, Portion = 0.6, Library = "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/", Mode = "xml" });
}

<div class="editor-field">
    @Html.LabelFor(x => x.EditorTheme, T("Default Editor Theme"))
    @Html.DropDownListFor(x => x.EditorTheme, Model.EditorThemes)
    @Html.ValidationMessageFor(x => x.EditorTheme)
    <button style="float: right;" type="button" class="button grey" onclick="javascript: window.open('@(Url.Action("List", "Cfg", new {area = "Pipeline.Web.Orchard"}))', '_self');">Jobs</button>
</div>

<div class="editor-field">
    @Html.LabelFor(x => x.Shorthand, T("Shorthand"))
    @Html.TextAreaFor(x => x.Shorthand)
</div>

<div class="hint" style="font-size: smaller;">
    <strong>F11</strong>: <span>Full Screen</span>,
    <strong>Esc</strong>: <span>Exit Full Screen</span>,
    <strong>Ctrl-S</strong>: <span>Save</span>,
    <strong>Ctrl-Space</strong>: <span>Auto Complete</span>,
    <strong>Ctrl-F</strong>: <span>Find</span>,
    <strong>Ctrl-G</strong>: <span>Find next</span>,
    <strong>Shift-Ctrl-G</strong>: <span>Find previous</span>,
    <strong>Shift-Ctrl-F</strong>: <span>Replace</span>,
    <strong>Shift-Ctrl-R</strong>: <span>Replace all</span>.
</div>