@using Orchard.ContentManagement
@using Orchard.Core.Title.Models
@using Pipeline.Web.Orchard.Models
@model PipelineConfigurationPart[]
@{
    Layout.Title = "Arrangements";
}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right">
            <button onclick="javascript: window.open('Admin/Contents/Create/PipelineConfiguration', '_blank');" type="button" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-plus"></span> New Pipe
            </button>
        </div>
    </div>
</div>

<table class="table table-condensed table-hover" style="font-size: smaller;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model) {
            var title = part.As<TitlePart>().Title;
            <tr>
                <td>
                    <a href="@Url.Action("Api/Cfg","Api",new { id=part.Id})" target="_blank">@part.Id</a>
                </td>
                <td>@title</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success btn-xs" onclick="window.open('@(Url.Content("~/Admin/Contents/Edit/" + part.Id))', '_self');">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                        <button type="button" class="btn btn-info btn-xs" onclick="window.open('@(@Url.Action("Api/Check", "Api", new {id = part.Id}))', '_blank');">
                            <span class="glyphicon glyphicon-check"></span> Check
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>