@using Orchard
@using Orchard.ContentManagement
@using Orchard.Core.Contents
@using Pipeline.Web.Orchard
@using Pipeline.Web.Orchard.Models
@using Pipeline.Web.Orchard.Services.Contracts
@using Transformalize.Configuration
@model ReportViewModel

@{
   var settings = WorkContext.CurrentSite.As<PipelineSettingsPart>();
   var hasParameters = Model.Process.Parameters.Any(p => p.Prompt);
   var hasActions = Model.Process.Actions.Any(a => !a.Before && !a.After && !string.IsNullOrEmpty(a.Description) && !a.Description.StartsWith("Batch", StringComparison.OrdinalIgnoreCase));
   var entity = Model.Process.Entities.FirstOrDefault() ?? new Entity { Name = "Missing Entity" };
   var pageSizes = new List<int>();
   pageSizes.AddRange(entity.Page > 0 ? Model.Part.Sizes(Model.Part.PageSizes) : new int[0]);
   pageSizes.AddRange(entity.Page > 0 && (Model.Process.Mode == "map" || Model.Process.Mode == "calendar") ? Model.Part.Sizes(Model.Part.MapSizes) : new int[0]);

   var allFields = entity.GetAllFields().Where(f => !f.System).ToArray();
   var hasCoordinates = allFields.Any(f => f.Alias.StartsWith("lat", StringComparison.OrdinalIgnoreCase)) && allFields.Any(f => f.Alias.StartsWith("lon", StringComparison.OrdinalIgnoreCase));
   var orchard = WorkContext.Resolve<IOrchardServices>();

   var linkService = WorkContext.Resolve<ILinkService>();
   var exportCsvLink = linkService.Create(Request, Session, Model.Part.Id, Url.Action("Index", "Export", new RouteValueDictionary { { "Id", Model.Part.Id } }), "csv", true);
   var exportXlsxLink = linkService.Create(Request, Session, Model.Part.Id, Url.Action("Index", "Export", new RouteValueDictionary { { "Id", Model.Part.Id } }), "xlsx", true);
   var exportJsonLink = linkService.Create(Request, Session, Model.Part.Id, Url.Action("Index", "Export", new RouteValueDictionary { { "Id", Model.Part.Id } }), "json", true);

   var views = new List<PipelineView>();

}

<!-- controls for bigger screens -->
<div class="row visible-md visible-lg" style="padding: padding:0px 0px 2px 0px;">
   <div class="col-md-3">
      <div class="btn-group pull-left" role="group" style="display: flex;">
         @if (entity.Name != "Missing Entity") {
            <button id="id_submit" type="submit" title="Search / Refresh" class="btn btn-primary btn-sm">
               <span class="glyphicon glyphicon-search"></span>
            </button>

            <button title="Clear the Parameters" type="button" class="btn btn-info btn-sm clear-button">Clear</button>

            if (hasActions) {
               <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Action</button>
                  <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                     @foreach (var action in Model.Process.Actions.Where(a => !a.Before && !a.After && !string.IsNullOrEmpty(a.Description) && !a.Description.StartsWith("Batch", StringComparison.OrdinalIgnoreCase))) {
                        <li>
                           <a class="bulk-action-link" rel="@action.Description" href="javascript:bulkAction(1,'@action.Description',@action.Id);">@action.Description</a>
                        </li>
                     }
                  </ul>
               </div>
            }
         }
      </div>
   </div>

   <div class="col-md-6">

      <div class="visible-md visible-lg">
         @if (entity.Page == 0 || Model.Process.Mode == "map" && !Model.Part.MapPaging || Model.Process.Mode == "calendar" && !Model.Part.CalendarPaging) {
            <h3 class="text-primary" style="margin: 2px 0px 0px 0px;">@(entity.Label == string.Empty ? entity.Alias : entity.Label)</h3>
         } else {
            <ul class="pagination pagination-sm" style="text-align: center; display: inline !important;">
               @if (entity.Pagination.HasPrevious) {
                  <li title="first page"><a href="javascript:controls.submit(@entity.Pagination.First)"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                  <li title="previous page"><a href="javascript:controls.submit(@entity.Pagination.Previous)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
               } else {
                  <li class="disabled"><a href=""><span class="glyphicon glyphicon-step-backward"></span></a></li>
                  <li class="disabled"><a href=""><span class="glyphicon glyphicon-chevron-left"></span></a></li>
               }
               <li class="disabled">
                  @if (entity.Hits > 0) {
                     <a href="">@(entity.Pagination.StartRow.ToString("#,##0"))-@(entity.Pagination.EndRow.ToString("#,##0")) of @(entity.Hits.ToString("#,##0")) <strong>@(entity.Label == string.Empty ? entity.Alias : entity.Label)</strong></a>
                  } else {
                     <a href=""><strong>@(entity.Label == string.Empty ? entity.Alias : entity.Label)</strong></a>
                  }
               </li>

               @if (entity.Pagination.HasNext) {
                  <li title="next page"><a href="javascript:controls.submit(@entity.Pagination.Next)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                  <li title="last page"><a href="javascript:controls.submit(@entity.Pagination.Last)"><span class="glyphicon glyphicon-step-forward"></span></a></li>
               } else {
                  <li class="disabled"><a href=""><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                  <li class="disabled"><a href=""><span class="glyphicon glyphicon-step-forward"></span></a></li>
               }
            </ul>
         }
      </div>
   </div>

   <div class="col-md-3">
      <div class="btn-group pull-right" role="group" style="display: flex;">

         @if (entity.Name != "Missing Entity") {

            if (orchard.Authorizer.Authorize(Permissions.EditContent)) {
               <button title="edit this report" type="button" class="btn btn-warning btn-sm" onclick="window.open('@(Url.Content("~/Admin/Contents/Edit/" + Model.Part.Id + "?" + Common.ReturnUrlName + "=" + Url.Encode(Request.RawUrl)))', '_self');">
                  <span class="glyphicon glyphicon-edit"></span>
               </button>
            }

            if (Model.Process.Mode == "map") {
               if(Model.MapCfg != null) { 
                  <div class="btn-group" role="group">
                     <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Style
                        <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu" id="mapStyles">
                        @foreach (var style in Model.MapCfg.Styles) {
                           <li style="cursor: pointer;"><a id="@style.Url">@style.Name</a></li>
                        }
                     </ul>
                  </div>
               }
               if (Model.Part.MapRefresh) {
                  <button title="refresh map" type="button" class="btn btn-danger btn-sm" id="mapRefresh">
                     <span class="glyphicon glyphicon-refresh"></span>
                  </button>
               }
            }

            if (Model.Part.MapEnabled && hasCoordinates || Model.Part.CalendarEnabled) {

               var headless = Request.RawUrl.Contains("Headless");

               // not using Url.Action because I don't want the autoroute (friendly slug name) here
               var reportUrl = Url.Content("~/Pipeline/Report/" + Model.Part.Id);
               if (headless) {
                  reportUrl = reportUrl.Replace("/Pipeline/Report/", "/Pipeline/Headless/Report/");
               }
               views.Add(new PipelineView("report") {
                  Active = Model.Process.Mode == "report",
                  Glyphicon = "blackboard",
                  Link = linkService.Create(Request, Session, Model.Part.Id, reportUrl, "report", false)
               });

               if (Model.Part.MapEnabled && hasCoordinates) {

                  var mapUrl = Url.Action("Index", "Map", new RouteValueDictionary { { "Id", Model.Part.Id } });
                  if (headless) {
                     mapUrl = mapUrl.Replace("/Pipeline/Map/", "/Pipeline/Headless/Map/");
                  }
                  views.Add(new PipelineView("map") {
                     Active = Model.Process.Mode == "map",
                     Glyphicon = "map-marker",
                     Link = linkService.Create(Request, Session, Model.Part.Id, mapUrl, "map", false)
                  });
               }
               if (Model.Part.CalendarEnabled) {

                  var calendarUrl = Url.Action("Index", "Calendar", new RouteValueDictionary { { "Id", Model.Part.Id } });
                  if (headless) {
                     calendarUrl = calendarUrl.Replace("/Pipeline/Calendar/", "/Pipeline/Headless/Calendar/");
                  }
                  views.Add(new PipelineView("calendar") {
                     Active = Model.Process.Mode == "calendar",
                     Glyphicon = "calendar",
                     Link = linkService.Create(Request, Session, Model.Part.Id, calendarUrl, "calendar", false)
                  });
               }
               var defaultView = views.First(v => v.Mode != Model.Process.Mode);

               <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-sm" title="@defaultView.Title" onclick="javascript:window.open('@defaultView.Link','_self');">
                     <span class="glyphicon glyphicon-@defaultView.Glyphicon"></span>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" title="other views" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                     @foreach (var export in views) {
                        <li title="@export.Title" class="@(export.Active ? "active" : string.Empty)">
                           <a href="@(export.Link)">
                              <span class="glyphicon glyphicon-@export.Glyphicon"></span>&nbsp;&nbsp;@export.Label
                           </a>
                        </li>
                     }
                  </ul>
               </div>
            }

            <div class="btn-group">
               <button type="button" class="btn btn-sm btn-info" title="save to csv file" onclick="javascript:window.open('@exportCsvLink','_self');">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
               </button>
               <button class="btn dropdown-toggle btn-sm btn-info" title="other formats" data-toggle="dropdown">
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu">
                  <li><a href="@exportCsvLink" title="save to csv file">CSV</a></li>
                  <li><a href="@exportJsonLink" title="save to json file">JSON</a></li>
                  <li><a href="@exportXlsxLink" title="save to excel file">XLSX</a></li>
                  @{
                     if (hasCoordinates) {
                        var exportGeoJsonLink = linkService.Create(Request, Session, Model.Part.Id, Url.Action("Index", "Export", new RouteValueDictionary { { "Id", Model.Part.Id } }), "geojson", true);
                        var exportKmlLink = linkService.Create(Request, Session, Model.Part.Id, Url.Action("Index", "Export", new RouteValueDictionary { { "Id", Model.Part.Id } }), "kml", true);
                        <li><a href="@exportGeoJsonLink" title="save to geojson file">GEOJSON</a></li>
                        <li><a href="@exportKmlLink" title="save to kml file">KML</a></li>
                     }
                  }
               </ul>
            </div>

            if (pageSizes.Count < 2 || Model.Process.Mode == "map" && !Model.Part.MapPaging || Model.Process.Mode == "calendar" && !Model.Part.CalendarPaging) {
               <!-- paging is disabled -->
            } else {
               <div class="btn-group">
                  <button class="btn btn-sm" style="padding-left:6px; padding-right:2px;">Size</button>
                  <button class="btn dropdown-toggle btn-sm" data-toggle="dropdown" title="set page size" style="padding-left:4px;">
                     <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                     @foreach (var size in pageSizes) {
                        <li class="@(entity.Size.Equals(size) ? "active" : string.Empty)">
                           <a href="javascript:controls.setSize(@size);">@size</a>
                        </li>
                     }
                  </ul>
               </div>
            }
         }
      </div>
   </div>
</div>

<!-- controls for smaller screens -->
<div class="visible-xs visible-sm">

   <!-- using a button toolbar for smaller screens -->
   <div class="btn-toolbar" role="toolbar" aria-label="...">

      <div class="btn-group" role="group" aria-label="...">
         @if (entity.Name != "Missing Entity") {
            <button id="id_submit" type="submit" title="Search" class="btn btn-primary btn-sm">
               <span class="glyphicon glyphicon-search"></span>
            </button>

            <button title="clear" type="button" class="btn btn-info btn-sm clear-button">
               <span class="glyphicon glyphicon-remove-circle"> </span>
            </button>

            if (hasActions) {
               <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-danger">Action</button>
                  <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                     @foreach (var action in Model.Process.Actions.Where(a => !a.Before && !a.After && !string.IsNullOrEmpty(a.Description) && !a.Description.StartsWith("Batch", StringComparison.OrdinalIgnoreCase))) {
                        <li>
                           <a class="bulk-action-link" rel="@action.Description" href="javascript:bulkAction(1,'@action.Description',@action.Id);">@action.Description</a>
                        </li>
                     }
                  </ul>
               </div>
            }
         }
      </div>

      @if (pageSizes.Count < 2 || Model.Process.Mode == "map" && !Model.Part.MapPaging || Model.Process.Mode == "calendar" && !Model.Part.CalendarPaging) {
         <!-- paging is disabled -->
      } else {
         <div class="btn-group" role="group" aria-label="...">
            <button title="previous page" disabled="@(!entity.Pagination.HasPrevious)" type="button" class="btn btn-default btn-sm" onclick="javascript:controls.submit(@entity.Pagination.Previous);">
               <span class="glyphicon glyphicon-chevron-left"> </span>
            </button>
            <button title="next page" disabled="@(!entity.Pagination.HasNext)" type="button" class="btn btn-default btn-sm" onclick="javascript:controls.submit(@entity.Pagination.Next);">
               <span class="glyphicon glyphicon-chevron-right"> </span>
            </button>
         </div>
      }

      @if (entity.Name != "Missing Entity") {

         <div class="btn-group" role="group" aria-label="...">

            @if (orchard.Authorizer.Authorize(Permissions.EditContent)) {
               <button title="edit this report" type="button" class="btn btn-warning btn-sm" onclick="window.open('@(Url.Content("~/Admin/Contents/Edit/" + Model.Part.Id + "?" + Common.ReturnUrlName + "=" + Url.Encode(Request.RawUrl)))', '_self');">
                  <span class="glyphicon glyphicon-edit"></span>
               </button>
            }

            @if (Model.Process.Mode == "report") {
               PipelineView l;
               if (Model.Part.MapEnabled && hasCoordinates && !string.IsNullOrEmpty(settings.MapBoxToken)) {
                  l = views.First(v => v.Mode == "map");
                  <button title="@l.Title" type="button" class="btn btn-success btn-sm" onclick="window.open('@(l.Link)', '_self');">
                     <span class="glyphicon glyphicon-@l.Glyphicon"></span>
                  </button>
               }
               if (Model.Part.CalendarEnabled) {
                  l = views.First(v => v.Mode == "calendar");
                  <button title="@l.Title" type="button" class="btn btn-warning btn-sm" onclick="window.open('@(l.Link)', '_self');">
                     <span class="glyphicon glyphicon-@l.Glyphicon"></span>
                  </button>
               }
            }

            @if (Model.Process.Mode != "report") {
               var l = views.First(v => v.Mode == "report");
               <button title="@l.Title" type="button" class="btn btn-success btn-sm" onclick="window.open('@(l.Link)', '_self');">
                  <span class="glyphicon glyphicon-@l.Glyphicon"></span>
               </button>
            }

            <div class="btn-group">
               <button class="btn btn-sm btn-info">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
               </button>
               <button class="btn dropdown-toggle btn-sm btn-info" data-toggle="dropdown">
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu">
                  <li><a href="javascript:window.open('@exportCsvLink', '_self');" title="Excel, Notepad, etc.">CSV</a></li>
                  <li><a href="javascript:window.open('@exportXlsxLink', '_self');" title="Excel">XLSX</a></li>
                  @{
                     if (hasCoordinates) {
                        var exportGeoJsonLink = linkService.Create(Request, Session, Model.Part.Id, Url.Action("Index", "Export", new RouteValueDictionary { { "Id", Model.Part.Id } }), "geojson", true);
                        var exportKmlLink = linkService.Create(Request, Session, Model.Part.Id, Url.Action("Index", "Export", new RouteValueDictionary { { "Id", Model.Part.Id } }), "kml", true);
                        <li><a href="javascript:window.open('@exportGeoJsonLink', '_self');" title="geojson.io, etc.">GEOJSON</a></li>
                        <li><a href="javascript:window.open('@exportKmlLink', '_self');" title="Google Earth, etc.">KML</a></li>
                     }
                  }
               </ul>
            </div>

            @if (pageSizes.Count < 2 || Model.Process.Mode == "map" && !Model.Part.MapPaging || Model.Process.Mode == "calendar" && !Model.Part.CalendarPaging) {
               <!-- paging is disabled -->
            } else {
               <div class="btn-group">
                  <button class="btn btn-sm" style="padding-left:6px; padding-right:2px;">Size</button>
                  <button class="btn dropdown-toggle btn-sm" data-toggle="dropdown" title="set page size" style="padding-left:4px;">
                     <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                     @foreach (var size in pageSizes) {
                        <li class="@(entity.Size.Equals(size) ? "active" : string.Empty)">
                           <a href="javascript:controls.setSize(@size);">@size</a>
                        </li>
                     }
                  </ul>
               </div>
            }
         </div>
      }
   </div>
</div>



